src/main/resources/result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="cid"/>
        <xs:element type="xs:byte" name="pid"/>
        <xs:element type="xs:byte" name="nid"/>
        <xs:element type="xs:byte" name="uid"/>
        <xs:element type="xs:string" name="subject"/>
        <xs:element type="xs:string" name="hostname"/>
        <xs:element type="xs:int" name="created"/>
        <xs:element type="xs:int" name="changed"/>
        <xs:element type="xs:byte" name="status"/>
        <xs:element type="xs:string" name="thread"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="mail"/>
        <xs:element type="xs:string" name="homepage"/>
        <xs:element type="xs:string" name="language"/>
        <xs:element type="xs:string" name="node_type"/>
        <xs:element type="xs:string" name="registered_name"/>
        <xs:element type="xs:byte" name="u_uid"/>
        <xs:element type="xs:string" name="signature"/>
        <xs:element type="xs:string" name="signature_format"/>
        <xs:element type="xs:byte" name="picture"/>
        <xs:element type="xs:byte" name="new"/>
        <xs:element name="comment_body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="und">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="value"/>
                          <xs:element type="xs:string" name="format"/>
                          <xs:element type="xs:string" name="safe_value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="is_array"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>